.assign-quiz-container {
    width: 100%;
    height: fit-content;
    background-color: #f2f2f2;
}
.assign-quiz-container .assign-quiz-cover-nav {
    position: fixed;
    top: 59px;
    height: 58px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.assign-quiz-container .assign-quiz-header {
    height: 500px;
    background-color: #fff;
    padding-top: 60px;
    z-index: 5;
    overflow: hidden;
    transition: all 0s;
    padding: 10px;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-img-crop {
    width: 100%;
    height: 60%;
    overflow-y: hidden;
    border-bottom-left-radius: 5px;
    padding-top: 50px;
    border-bottom-right-radius: 5px;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-img-crop .assign-quiz-cover-img {
    width: 100%;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info {
    height: 40%;
    padding: 10px 0;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .desc-campaign-img {
    height: 120px;
    min-height: 40px;
    min-width: 120px;
    border-radius: 50%;
    margin-right: 1rem;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .aq-campaign-title-and-apply * {
    font-family: "Open Sans";
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .aq-campaign-title-and-apply .aq-campaign-position-and-subject {
    height: 50%;
    justify-content: space-between;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .aq-campaign-title-and-apply .aq-campaign-position-and-subject .aq-position {
    align-self: center;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .aq-campaign-title-and-apply .aq-campaign-position-and-subject .aq-subjects .aq-subject {
    padding: 5px 8px;
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
}
.assign-quiz-container .assign-quiz-header .assign-quiz-cover-info .aq-campaign-title-and-apply .aq-campaign-position-and-subject .aq-subjects .aq-subject:hover {
    border: 1px solid #fd7e14;
    color: #fd7e14;
    cursor: pointer;
}
.assign-quiz-container .smaller {
    height: 140px;
    position: sticky;
    top: 0px;
}
.assign-quiz-container .assign-quiz-editor {
    height: 100%;
    padding-top: 20px;
}
.assign-quiz-container .assign-quiz-editor .assign-quiz-interviews-container .assign-quiz-interviews-header {
    font-size: 16px;
    font-family: "PT Sans Caption";
    font-weight: bold;
}
.assign-quiz-container .assign-quiz-create-container {
    padding-top: 20px;
}
.assign-quiz-container .assign-quiz-create-container .assign-quiz-create-header {
    font-size: 16px;
    font-family: "PT Sans Caption";
    font-weight: bold;
}
.assign-quiz-container .assign-quiz-create-container .assign-quiz-create {
    height: fit-content;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #fff;
    transition: all 0.4s;
}
.assign-quiz-container .assign-quiz-create-container .assign-quiz-create .aq-quiz-null-img {
    width: 60%;
    opacity: 0.9;
    margin-left: 12%;
    margin-bottom: 1rem;
}
.assign-quiz-container .assign-quiz-create-container .assign-quiz-create .assign-create-quiz-btn {
    border: none;
    background-color: #fd7e14;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 #fd7e14, 0 4px 6px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}
