.report-table-header * {
    font-family: "Open Sans";
    color: #737373;
    font-size: 15px;
    font-weight: 600;
}
.report-table-body {
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.report-table-body * {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
}
.report-quiz-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.report-quiz-container .rq-row {
    background-color: white;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.report-quiz-container .rq-row .rq-accuracy .rounded {
    min-width: 15% !important;
}
.report-quiz-container .rq-row:hover {
    background-color: #f2f2f2;
}
