.quiz-create-modal-container {
    background-color: #303030;
    padding-top: 20px;
    height: 100%;
}
.quiz-create-modal-container .init-quiz {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quiz-create-modal-container .init-quiz .init-quiz-container {
    width: 432px;
    height: fit-content;
    background-color: white;
    z-index: 100;
    border-radius: 10px;
    padding: 24px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-title img {
    height: 50px;
    width: 50px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-title p {
    padding-left: 10px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #666;
    font-weight: bold;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body {
    margin-top: 20px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-name-quiz p {
    color: #6f94bb;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-name-quiz input {
    height: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 10px;
    color: gray;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject {
    margin-top: 20px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject p {
    color: #6f94bb;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds .subject {
    height: 28px;
    width: fit-content;
    margin-right: 6px;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds .subject button {
    background: none;
    border: none;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds .subject:hover {
    background-color: #fd7e14;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds .subject:hover button {
    color: white;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds button:hover {
    position: relative;
    top: 0 !important;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-body .init-quiz-choose-subject .subject-clouds .active-subject {
    background: #fd7e14;
    color: white;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.quiz-create-modal-container .init-quiz .init-quiz-container .init-quiz-create-footer button {
    height: 40px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #70ad47;
    color: white;
    padding: 0 5px;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 0 #70ad47, 0 4px 6px rgba(0, 0, 0, 0.45);
}
